{
  "presets": [
    "latest",
    "stage-1",
    [
      "es2015",
      {
        "modules": false,
      }
    ],
    "react",
    "env",
    "flow"
  ],
  "plugins": [
    "transform-runtime",
    "syntax-dynamic-import",
    "transform-class-properties",
  ],
  "env": {
    "test": {
      "presets": ["es2015", "stage-1", "react", "flow"],
      "plugins": ["transform-runtime", "dynamic-import-node"]
    },
    "production": {
      "presets": ["es2015-native-modules", "stage-1", "react", "flow"],
      "plugins": ["transform-runtime"]
    },
    "development": {
      "presets": [["es2015", { "modules": false }], "stage-1", "react", "flow"],
      "plugins": ["transform-runtime", "react-hot-loader/babel"]
    }
  }
}
